@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: none;
    text-decoration: none;
}

body {
    height: 600vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo {
    margin-left: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 50px;
}

.logo p {
    color: #000;
    font-family: sans-serif;
    font-size: 1.6rem;
}

.container {
    font-size: 1.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tamanho {
    margin-right: 10px;
    width: 15px;
}

.espaco {
    margin-left: 30px;
}

.Person img {
    margin-right: 30px;
    width: 40px;
}

/*menu*/
.menu-underline {
    box-shadow: 1px 0px 1.2px 0px #e3e3e3;
    border-radius: 3px;
    padding: 5px;
}

.menu-underline ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}

.menu-underline li {
    padding: 0.8em 1.5em;
}

.menu-underline a {
    text-decoration: none;
    position: relative;
    color: #000;
    font-size: 1.2em;
    padding: 10px 0;
    transition: 0.3s;
}

.menu-underline a:hover {
    color: #5c338d;
}

.menu-underline .line::after {
    content: "";
    border-bottom: solid 2px #5c338d;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.25s;
}

.menu-underline .line:hover::after {
    border-bottom: solid 2px #5c338d;
    transform-origin: left;
    transform: scaleX(1);
}

@-webkit-keyframes line {
    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }
}

@keyframes line {

    from {
        transform: scaleX(0);
    }

    to {
        transform: scaleX(1);
    }

}

@media only screen and (max-width:768px) {

    .menu-underline li {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

}

/*primiera section*/

.botao-hover {
    color: #ffffff;
    width: 150px;
    height: 50px;
    border: 2px solid #000;
    border-radius: 50px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin: 20px;
    outline: none;
    text-align: center;
    z-index: 2;
    transition: all 0.3s ease;
    overflow: hidden;
    background-color: #2f184b;

}

.botao-hover::after {

    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;

}

.botao-hover:hover {

    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    color: #000;

}

.botao-hover:hover::after {
    transform: scale(2) rotate(180deg);
    background: #ffffff;
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .2),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
}

.botao-hover:active::after {
    background: #000000;
}

h1.display-1 {
    font-size: 3.5rem;
    color: #333;
}

.container2 {
    margin-left: 20%;
    margin-top: 100px;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

.text-main{
    font-family: "Kaushan Script", sans-serif;
    font-size: 7rem;
    color: #2f184b;
}

span{
    margin-left: 80px;
    display: block;
}

.image-main img {
    width: 80%;
}

.btn-main {
    cursor: pointer;
    padding: 20px 40px;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #5c338d;
    border-radius: 40px;
    border: none;
}

/* Segunda section */

.wavy-section {
    position: relative;
    text-align: center;
}

.wave-container {
    margin-top: 15%;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wave-container::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    z-index: 2;
}

.wave-container img {
    border-radius: 80px;
    width: 97%;
    display: block;
}

.icons-container {
    position: absolute;
    bottom: 150px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    z-index: 2;
}

.icon-circle {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 15px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle img {
    width: 200px;
    height: 200px;
}

.text-container {
    position: absolute;
    width: 100%;
    top: 100%;
    display: flex;
    justify-content: space-around;
    z-index: 2;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.flutuante {
    animation: float 3s ease-in-out infinite;
}

.text-container p {
    color: #ffffff;
    font-family: sans-serif;
    background-color: transparent;
    margin: 10px 20px;
    display: inline-block;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    line-height: 1.6;
    border: 5px solid #8d52d6;
    background-color: #2f184b;
    height: 200px;
}


/*Terceira section*/

.terceira-section {
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.terceira-section p {
    font-family: "Kaushan Script", sans-serif;
    text-align: center;
    font-size: 10em;
    color: #2f184b;
}


/*Carrosel*/

.slideshow-container {
    width: 90%;
    position: relative;
    margin: 15% auto 0 auto;
}

.slideshow {
    display: none;
}


.slideshow img {
    width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.legenda {
    width: auto;
    color: #fdfdfd;
    font-size: 0.9em;
    padding: 5px;
    position: absolute;
    bottom: 18%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    left: 10%;
    transform: translateX(-50%);

}

.numeracao {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;

}

.paginacao {
    width: 100%;
    margin: 10px 0;
    text-align: center;

}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 4px;
    border-radius: 50px;
    background-color: #2f184b;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.ativo,
.dot:hover {
    background-color: #242424;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@media (min-width:60em) {
    .legenda {
        font-size: 2em;
        padding: 8px;
    }

    .paginacao {
        margin: 20px 0;
    }

    .dot {
        width: 18px;
        height: 18px;
    }
}

/*FAQ*/

.faq-section {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    width: 80%;
    margin: 15% auto 0 auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-header h1 {
    color: #2f184b;
    font-size: 10em;
}

.faq-content h2 {
    color: #333;
    font-size: 1.5em;
    margin-top: 20px;
}

.faq-content p {
    margin-top: 40px;
    max-width: 700px;
    white-space: normal;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    color: #666;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
}