/* Definições Gerais Início */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --moldura: linear-gradient(rgb(255, 191, 0), rgb(214, 146, 0), rgb(255, 183, 0));
    --fundo: linear-gradient(to bottom, rgb(43, 34, 24), rgb(200, 195, 190), rgb(200, 200, 190), rgb(210, 200, 190), rgb(214, 204, 193), rgb(210, 200, 190), rgb(200, 200, 190), rgb(200, 195, 190), rgb(43, 34, 24));
    --luz_atras: 15px 10px 40px -1px rgba(255, 255, 255, 0.50), -15px -10px 40px -1px rgba(255, 255, 255, 0.50), 15px -10px 40px -1px rgba(255, 255, 255, 0.50), -15px 10px 40px -1px rgba(255, 255, 255, 0.50);

    --texto_descritivo: rgb(234, 233, 231);
    --borda_texto_descritivo: rgb(36, 35, 36);

    --instagram: linear-gradient(to right, rgb(224, 13, 13), rgb(81, 6, 57));
    --linkedin: linear-gradient(to bottom, rgb(176, 237, 248), rgb(49, 162, 219), rgb(28, 149, 209), rgb(14, 130, 188));
    --twitter: linear-gradient(to left, rgb(79, 202, 255), rgb(42, 142, 192), rgb(42, 142, 192), rgb(31, 95, 178));
    --facebook: linear-gradient(to top, rgb(97, 94, 255), rgb(61, 58, 219), rgb(50, 42, 192), rgb(58, 31, 178));
}

section {
    background-image: var(--fundo);

    margin: 4.5vh 0;
    padding: 12vh 0;

    overflow: hidden;
}

body {
    background-color: rgb(31, 20, 12);
}

/* Definições Gerais Fim */


/* Section 1 - Início */

.section_destaque {
    display: block;

    width: 100%;
}

.section_destaque img.art_destaque {
    max-width: 32vw;

    border-width: 1.5vw;
    border-style: groove;
    border-color: rgb(255, 174, 0);
    border-image-slice: 1;

    box-shadow: var(--luz_atras);
}

.section_destaque img.art_destaque:first-of-type {
    float: left;

    margin-left: 1.3%;
}

.section_destaque img.art_destaque:last-of-type {
    float: right;

    margin-right: 1.3%;
}

.section_destaque img.foto_artista {
    max-width: 17vw;

    margin-left: 2%;
    margin-top: 5vh;

    border-radius: 5px;
    border: 1.25vw groove rgba(0, 0, 0, 0.5);
}



/* Section 1 - Fim */


/* Section 2 - Início */

.section_descricao {
    display: block;

    width: 100%;
}

.section_descricao span {
    display: inline-block;
}

.artista_descricao {
    width: 18%;

    margin-left: 1%;
}

.artista_descricao img.foto_artista {
    max-width: 15vw;

    margin-left: 2.5%;

    border-radius: 5px;
    border: 1.25vw groove rgba(0, 0, 0, 0.5);
}

.artista_descricao h2 {
    text-align: center;

    font-family: 'Noto Sans';

    padding: 4%;

    background-color: var(--texto_descritivo);
    border: 3px groove var(--borda_texto_descritivo);
    box-shadow: 3px 3px 6px -1px black;
}

.texto_descricao {
    width: 25%;

    margin-left: 1.25%;
    margin-right: 1%;

    vertical-align: top;
    text-align: center;

    font-family: 'Noto Sans';

    padding: 1%;

    background-color: var(--texto_descritivo);
    border: 3px groove var(--borda_texto_descritivo);
    box-shadow: 3px 3px 6px -1px black;
}

.section_descricao span:nth-child(3) {
    width: 50%;
}

.section_descricao span img.art_exibicao {
    max-width: 18vw;

    margin-left: 2vw;

    border-width: 1.25vw;
    border-style: groove;
    border-color: rgb(255, 174, 0);
    border-image-slice: 1;

    box-shadow: var(--luz_atras);
}

.section_descricao span img.art_exibicao:last-of-type {
    margin-left: 3vw;
}

/* Section 2 - Fim */


/* Section 3 - Início */

.section_redessociais {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 1vw;

    width: 100%;
}

.section_redessociais span:nth-child(1) {
    grid-column: 1 / 5;
}

.redessociais {
    grid-column: 6 / 8;

    width: 140%;
}

.section_redessociais span img.art_exibicao {
    max-width: 100%;

    margin-left: 5.75%;

    border-width: 3vw;
    border-style: groove;
    border-color: rgb(255, 174, 0);
    border-image-slice: 1;

    box-shadow: var(--luz_atras);
}

.redessociais ul {
    list-style: none;
}

.redessociais li {
    margin: 2vh 0;

    font-size: 2.75vw;
    font-weight: 500;
    font-family: 'Segoe UI';

    padding: 1% 5%;

    background-color: var(--texto_descritivo);
    border: 2px groove var(--borda_texto_descritivo);
    box-shadow: 3px 3px 6px -1px black;
}

.redessociais li p {
    display: inline;
    margin-left: 1vw;
}

.redessociais .fa-instagram {
    background: var(--instagram);
    background-clip: text;
    color: transparent;
}

.redessociais .fa-linkedin {
    background: var(--linkedin);
    background-clip: text;
    color: transparent;
}

.redessociais .fa-twitter {
    background: var(--twitter);
    background-clip: text;
    color: transparent;
}

.redessociais .fa-facebook {
    background: var(--facebook);
    background-clip: text;
    color: transparent;
}

/* Section 3 - Fim */


/* Section Repetida - Início */

.section_arte1,
.section_arte2 {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5vw;
    max-width: 100%;

    padding-left: 2vw;
}

.section_arte1 span h3,
.section_arte2 span h3,
.section_arte1 span ul,
.section_arte2 span ul,
.section_arte1 span p,
.section_arte2 span p {
    font-family: 'Noto Sans';
}

.section_arte1 span:nth-child(1) {
    vertical-align: top;

    grid-column: 1;

    padding: 3%;
    width: 100%;

    background-color: var(--texto_descritivo);
    border: 3px groove var(--borda_texto_descritivo);
    box-shadow: 3px 3px 6px -1px black;
}

.section_arte1 span:nth-child(1) ul {
    list-style: square;
}

.section_arte1 span:nth-child(2) {
    width: 200%;

    vertical-align: top;

    grid-column: 2 / 3;

    padding: 5%;
    width: 200%;

    background-color: var(--texto_descritivo);
    border: 3px groove var(--borda_texto_descritivo);
    box-shadow: 3px 3px 6px -1px black;
}

.section_arte1 span:nth-child(3) {
    grid-column: 4 / 7;

    margin-right: 2vw;
}

.section_arte1 span:nth-child(3) ul {
    width: 110%;

    background-color: var(--texto_descritivo);
    border: 3px groove var(--borda_texto_descritivo);
    box-shadow: 3px 3px 6px -1px black;
}

.section_arte1 span img.art {
    max-width: 125%;

    border-width: 2vw;
    border-style: groove;
    border-color: rgb(255, 174, 0);
    border-image-slice: 1;

    box-shadow: var(--luz_atras);
}


.section_arte2 span:nth-child(1) {
    grid-column: 1 / 4;
}

.section_arte2 span:nth-child(1) ul {
    width: 115%;

    background-color: var(--texto_descritivo);
    border: 3px groove var(--borda_texto_descritivo);
    box-shadow: 3px 3px 6px -1px black;
}

.section_arte2 span img.art {
    max-width: 133%;

    border-width: 2vw;
    border-style: groove;
    border-color: rgb(255, 174, 0);
    border-image-slice: 1;

    box-shadow: var(--luz_atras);
}

.section_arte2 span:nth-child(2) {
    width: 200%;

    vertical-align: top;

    grid-column: 5 / 6;

    padding: 5%;
    width: 200%;

    background-color: var(--texto_descritivo);
    border: 3px groove var(--borda_texto_descritivo);
    box-shadow: 3px 3px 6px -1px black;
}

.section_arte2 span:nth-child(3) {
    grid-column: 7;

    margin-right: 2vw;

    vertical-align: top;

    padding: 2%;
    width: 90%;

    background-color: var(--texto_descritivo);
    border: 3px groove var(--borda_texto_descritivo);
    box-shadow: 3px 3px 6px -1px black;
}

.section_arte2 span:nth-child(3) ul {
    list-style: square;
}



/* Section Repetida - Fim */