/*MEDIA QUERIES*/
@media screen and (min-width: 425px) {
    .container{
        max-width: 425px;
    }
}

@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }
}

@media screen and (min-width: 1024px) {
    .container{
        max-width: 1024px;
    }
}

@media screen and (min-width: 1440px) {
    .container{
        max-width: 1440px;
    }
}

@media screen and (min-width: 2560px) {
    .container{
        max-width: 2560px;
    }
}