@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --clr-li-purple: rgb(244, 239, 250);
    --clr-da-purple: rgb(47, 24, 75);
    --clr-blue: rgb(0, 178, 255);
    --clr-green-check: rgb(0, 215, 9);
    --clr-p-purple: rgb(129, 87, 184);
    --clr-follow-purple: rgb(83, 43, 136);
    --clr-rli-purple: rgb(200, 177, 228);
}

.container {
    width: 90%;
    margin: 0 auto;
}

body {
    width: 100%;
    height: 100%;
}

/*HEADER CONTENT*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--clr-li-purple);
    padding: 15px;
}

#logo,
#perfil {
    width: 50px;
    height: 50px;
}

/*HEADER-TITLE*/
#title {
    text-transform: uppercase;
    font-family: "Koulen", sans-serif;
    font-weight: 400;
}

#header-title {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

/*HEADER-MAIN-NAVBAR*/
.header-main-navbar-link {
    font-family: "Lato", sans-serif;
    font-size: 22px;
    font-weight: 500;
    color: black;
}

#header-main-navbar-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 50px;
}

/*HEADER-LOGREG-NAVBAR*/
.header-logreg-navbar-link {
    font-family: "Koulen", sans-serif;
    font-size: 20px;
    font-weight: 400;
}

#header-logreg-navbar-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

/*menu*/
.menu1 ul {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
}

.menu1 ul li {
    margin: 0 50px 0 50px;
    list-style: none;
}

.menu1 ul li a {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;

}

.menu1 ul li a:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 800;
    color: #61319B;
}

.menu2 ul {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
}

.menu2 ul li {
    margin: 0 40px 0 20px;
    list-style: none;
}

.menu2 ul li a {
    text-decoration: none;
    font-family: "Koulen", sans-serif;
    font-size: 1.5rem;
    color: #000;
}

.menu2 ul li a:hover {
    font-weight: 800;
    color: #61319B;
}

/* Código do Flex */

.flex-box{
    display: flex;
}

.template-section{
    display: flex;
}
.bar {
    background-color: #F4EFFA;
    height: 100%;
    width: 20%;
}

.portView {
    height: 100%;
    width: 80%;
}


/* Texto das Opções da Barra*/

.container {
    flex-wrap: wrap;
    background-color: rgb(244, 239, 250);
    margin: 0 0 0 0;
    width: 40vh;
    height: 100vh;
}

.dropdown {
    border-bottom: solid #61319B;
    font-size: 2.5rem;
    font-family: "Koulen", sans-serif;
    position: relative;
    width: 100%;
}

.dropdown:hover{
    background-color: rgb(200, 177, 228);
}
.dropdown p {
    margin-left: 8rem;
    
}

.dropdown i {
    justify-content: flex-start;
    position: absolute;
    margin-top: 4%;
}

.icon-start {
    left: 8%;
}

.dropdown .fa-chevron-down {
    left: 8em;
    bottom: 25%;
}

/* Código da Edição de Template */

.template-start-area{
    position: absolute;
    width: 100%;
    height: 100%;    
}

.iframe-template{
    position: absolute;
    width: 100%;
    height: 100%;    
    /* a cor eh so pra acompanhar nao se assuste */
}