@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --clr-li-purple: rgb(244, 239, 250);
    --clr-da-purple: rgb(47, 24, 75);
    --clr-blue: rgb(0, 178, 255);
    --clr-green-check: rgb(0, 215, 9);
    --clr-p-purple: rgb(129, 87, 184);
    --clr-follow-purple: rgb(83, 43, 136);
    --clr-rli-purple: rgb(200, 177, 228);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

header {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;

    border-bottom: 1px rgb(58, 29, 93) solid;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

nav {
    flex: 1;
    text-align: right;
}

nav ul {
    display: inline-block;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

.logo {
    display: flex;
    align-items: center;
    max-width: 5rem;
}

.logo p {
    margin-left: 0;
}

.logo p {
    color: rgb(85, 85, 85);
}

.LogoName {
    font-family: "Koulen", sans-serif;
    /* margin: 18px 75px 0 0; */
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(58, 29, 93);
    font-size: 1.2rem;
    height: 100%;
}

header div.containerHeader {
    max-width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background: white;
}

.menu_icon {
    width: 50px;
    margin-left: 20px;
    display: none;
}

.header-perfil img {
    max-width: 9.375rem;
    border-radius: 10rem;
    margin-top: 1rem;

    padding-left: auto;
    padding-right: auto;
}

.perfil h4 {
    margin-left: auto;
    margin-right: auto;

}

#menuItems {
    display: block;

    margin-top: 2.5vh;
}

#menuItems li a {
    text-decoration: none;
    color: rgb(47, 24, 75);
}

@media only screen and (max-width: 800px) {

    /*------menu-hamburguer--------*/
    nav ul {
        position: absolute;
        top: 10.75vh;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: display 0.5s;
    }

    nav ul li {
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    nav ul li a {
        color: white;
    }

    .menu_icon {
        display: block;
        cursor: pointer;
    }

    #menuItems {
        display: none;

        margin-top: 0vh;
    }

    #menuItems li a{
        color: rgb(244, 239, 250);
    }

    /*------fim-menu-hamburguer--------*/
    .logo p {
        display: none;
    }

    

}


@media only screen and (max-width: 450px) {
    .navbar {
        width: 100%;
        max-width: 100%;
    }

    header {
        overflow-x: hidden;
    }

    .perfil {
        margin-top: 13rem;
        display: block;
        width: 98%;
        max-width: 100%;
        border-radius: 50px;
        padding-left: auto;
        padding-right: auto;
        background: rgb(153, 153, 153);
        z-index: 10;
    }
    
}




.container {
    width: 90%;
    margin: 0 auto;
}

body {
    width: 100%;
    height: 100%;
}


/* Código do Flex */

.flex-box {
    display: flex;
}

.template-section {
    display: flex;
}

.bar {
    background-color: #F4EFFA;
    height: 100%;
    width: 20%;
}

.portView {
    height: 100%;
    width: 80%;
}


/* Texto das Opções da Barra*/

.container {
    flex-wrap: wrap;
    background-color: rgb(244, 239, 250);
    margin: 0 0 0 0;
    width: 44vh;
    height: 100vh;
}

.dropdown {
    border-bottom: solid #61319B;
    font-size: 140%;
    font-family: "Noto Sans", sans-serif;
    font-weight: bolder;
    position: relative;
    width: 100%;
}

.dropdown:hover {
    background-color: rgb(200, 177, 228);
}

.dropdown p {
    margin-left: 25%;

}

.dropdown i {
    justify-content: flex-start;
    position: absolute;
    margin-top: 2%;
}

.icon-start {
    left: 8%;
}

.dropdown .fa-chevron-down {
    left: 9em;
    bottom: 25%;
    color: #61319B;
}

/* Codigo da Opcao de Selecionar Portfolio */
#portpickerdiv {
    display: block;
    margin-top: 8%;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#portpicker {
    background-color: rgb(200, 177, 228);
    width: 40%;
    height: 3.0rem;
    font-size: 1.1rem;
    border-radius: 4%;
    border: 1px;
}

/* Codigo da Opcao de Mudar Texto */

#textareapickerdiv {
    text-align: center;
    display: block;
    margin-top: 8%;
    margin-bottom: 3%;
}

#textareapicker {
    background-color: rgb(200, 177, 228);
    width: 80%;
    height: 4rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 4%;
    border: 1px;
    resize: vertical;
    margin-left: 4%;
}

#textsizepickerdiv{
    text-align: center;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
}

.textsizepicker{
    margin-left: auto;
    margin-right: auto;
    height: 2rem;
    background-color: rgb(200, 177, 228);
    font-size: 160%;
    border-radius: 4%;
    border: 1px;
}

#textfontpickerdiv{
    text-align: center;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
}

#fontpicker{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(200, 177, 228);
    font-size: 130%;
    border-radius: 4%;
    border: 1px;
}

#textdecorationpickerdiv{
    text-align: center;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
}

#decorationPicker{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(200, 177, 228);
    font-size: 130%;
    border-radius: 4%;
    border: 1px;
}

#textweightpickerdiv{
    text-align: center;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
}

#weightPicker{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(200, 177, 228);
    font-size: 130%;
    border-radius: 4%;
    border: 1px;
}
/* Codigo da Opcao Color Picker */


#colorpickerdiv {
    align-content: center;
    display: block;
    margin-top: 8%;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
}

#colorpicker {
    border: 1;
    width: 10rem;
    height: 10rem;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
}

input[type="color"]:first-child {
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    border-radius: 50%;
    background: none;
    margin-bottom: 20px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

input[type="color"]:nth-child(2) {
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    border-radius: 50%;
    background: #f0bc12;
    outline: none;
}

input[type="color" i] {
    border-radius: 50%;
    border: none;
    height: 80px;
    width: 80px;
    display: block;
}

/* Codigo da Opcao Posicao Picker */

#decorpickerdiv {
    text-align: center;
    display: block;
    margin-top: 8%;
    margin-bottom: 4%;
}

.picker {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: rgb(200, 177, 228);
    font-size: 160%;
    border-radius: 4%;
    border: 1px;
}


#decorPicker{
    margin: 0 auto;
    height: 2.5vw;
    background-color: rgb(200, 177, 228);
    font-size: 120%;
    border-radius: 4%;
    border: 1px;
}

#helppickerdiv{
    text-align: center;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
}

.helppicker{
    height: 4rem;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: rgb(200, 177, 228);
    font-size: 16px;
    border-radius: 8%;
    border: 1px;
    width: 50%;
}


.submitbuttondiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4%;
}

/* Codigo do botao de aplicar */
.submitbutton {
    height: 4rem;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: rgb(200, 177, 228);
    font-size: 20px;
    border-radius: 8%;
    border: 1px;
    width: 50%;
}


button {
    font-family: "Noto Sans", sans-serif;
    font-weight: bolder;
}

button:hover {
    font-family: "Noto Sans", sans-serif;
    background-color: #61319B;
    cursor: pointer;
    color: white;
}
/* Código da Edição de Template */

.template-start-area {
    position: absolute;
    width: 100%;
    height: 100%;
}

.iframe-template {
    position: absolute;
    width: 100%;
    height: 100%;
    /* a cor eh so pra acompanhar nao se assuste */
}

.div{
    background-color: red;
}