<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="teste.css">
    <title>Document</title>
</head>

<body>
    <main>
        <div id ="maindiv">
            <div>
                <h1 id="text1" class="edit text-color-change">Mudando a cor do Texto</h1>
            </div>
            <div>
                <h1 id="text2" class ="edit background-color-change">Mudando a background color do Texto</h1>
            </div>
            <div>
                <h1 id="text3" class="edit text-size-change">Mudando o tamanho do texto</h1>
            </div>
            <div>
                <h1 id="text4" class="edit text-font-change">Mudando a fonte do texto</h1>
            </div>
            <div>
                <h1 id="text5" class="edit text-decoration-change">Mudando a decoração do texto</h1>
            </div>
            <div>
                <h1 id="text6" class="edit text-weight-change text-content">Mudando o peso do texto</h1>
            </div>
            <div>
                <h1 id="text7" class="edit padding-change text-content">Mudando o padding do texto</h1>
            </div>
            <div>
                <h1 id="text8" class="edit text-content">Mudando o conteudo do texto</h1>
            </div>
            <div id="image1">
                <img id="image1" class = "edit opacity-change" src="imgs/testeimage.jpg" alt="Mudando a opacidade da imagem" width="200" height="300" class="img">
            </div>
            <div>
                <img id="image2" class = "edit border-change" src="imgs/testeimage.jpg" alt="Mudando a opacidade da imagem" width="200" height="300" class="img">
            </div>
        </div>
    </main>
</body>

</html>