* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: none;
    text-decoration: none;
}

.Maincontent {
    position: relative;
    top:91px;
}

#Banner {
    z-index: -1;
    display: block;
    width: 100%;
    position: absolute;
    margin-top: -85px;
    overflow:visible;
    border: 0 0 500px;
    border-color: white;
    border-width: 500px;
}

.PortEx {
    box-sizing: border-box;
    border-radius: 50px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:5%;
}