body {
    width: 100%;
    font-family: "Noto Sans", sans-serif;
    height: 100%;
}



/*Codigo do texto de tutorial*/

main {
    background-image: url("../img/background.png");
    background-size: 20%;
    background-repeat: round;
}

.title{
    color: #61319B;
    margin-bottom: 2%;
}

.tutorial{
    display: block;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vw;
    background-color: var(--clr-li-purple);
    padding: 10%;

    border-radius: 125px;
    border: 5px var(--dark-purple) dotted;
}

ol li{
    margin-left: 4%;
    list-style: disc;
    padding: 2%;
}
