@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

/* Header início */

#menuItems li a {
    text-decoration: none;
    color:rgb(47, 24, 75);
}

#menuItems li button {
    color: var(--clr-da-purple);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}


@media only screen and (max-width: 800px) {

    /*------menu-hamburguer--------*/
    nav ul {
        top: 10.75vh;
    }

    #menuItems {
        display: none;

        margin-top: 0vh;
    }

    #menuItems li a {        
        color:rgb(244, 239, 250);
    }

    #menuItems li button {
        color: var(--clr-li-purple);
    }

    /*------fim-menu-hamburguer--------*/  
}

/* Header Fim */




body {
    height: 100vh;
    background-image: url("../img/background.png");
    background-size: 10%;
    background-repeat: round;
    
}

/* Main inicio */


main {
    width: 80vw;
    overflow: hidden;

    margin: 15vh auto 0;

    padding-bottom: 5vh;
    padding-top: 1.5vh;

    background-color: rgb(244,239,249);

    border: 2px solid;
    border-color: rgb(83, 6, 113);
    border-radius: 35px;

}

div.page_title {
    font-family: "Koulen";

    display: block;

    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1.5vh;
}

.page_title a {
    display: inline-block;

    
    font-size: 150%;

    text-decoration: none;
    
    color: #000;

    background-color: rgb(129, 87, 184);
    
    padding-top: 0.25%;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 0.5%;
    border-radius: 80%;

}

.page_title a:hover {
    color: white;
    background-color: purple;
}

.page_title h1 {
    background: none;
    background-color: rgba(255, 0, 0, 0);

    display: inline-block;

    margin: 0 20%;
    margin-bottom: 5px;
    text-align: center;
}

label {
    display: block;

    font-family: "Concert One";

    font-size: 4.25vh;
}
#post_title{
    background-color: rgb(200, 177, 228);
    border-radius: 8px;
    padding: 10px;

}

#post_description{
    background-color: rgb(200, 177, 228);
    border-radius: 8px;
    padding: 10px;


}
.post_texts {
    margin-left: 6%;
    margin-bottom: 2.5%;
}

input, textarea {
    width: 90%;

    display: block;
}

.tag_selection, .submit {
    display: inline;
}

.tag_selection {
    margin-left: 6%;
}

.tag_list {
    background-color: rgb(129, 87, 184);
    color: white;
    border-radius: 10px;
    margin-left: 1%;
    padding: 5px;
}

.submit {
    margin-left: 65%;
    
}

.submit button {
    padding: 0.25vw;

    background-color: rgb(129, 87, 184);
    color: white;
    border-radius: 10px;

    font-family: "Koulen", sans-serif;
}

.submit button:hover {
    color: white;
    background-color: purple;
    border-color: black;
}


/* Main fim */


footer{
    height: 0.5vh;
}