.section-menu .container {
    width: 90%;
    margin: 0 auto;
}

/*menu*/
.menu1 ul {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
}

.menu1 ul li {
    margin: 0 50px 0 50px;
    list-style: none;
}

.menu1 ul li a {
    font-family: "Lato", sans-serif;
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;

}

.menu1 ul li a:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 800;
    color: #61319B;
}

.menu2 ul {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
}

.menu2 ul li {
    margin: 0 40px 0 20px;
    list-style: none;
}

.menu2 ul li a {
    text-decoration: none;
    font-family: "Koulen", sans-serif;
    font-size: 1.5rem;
    color: #000;
}

.menu2 ul li a:hover {
    font-weight: 800;
    color: #61319B;
}

/* Código do Flex */

.flex-box {
    display: flex;
}

.template-section {
    display: flex;
}

.bar {
    background-color: #F4EFFA;
    height: 100%;
    width: 20%;
}

.portView {
    height: 100%;
    width: 80%;
}


/* Texto das Opções da Barra*/

.section-menu .container {
    flex-wrap: wrap;
    background-color: rgb(244, 239, 250);
    margin: 0 0 0 0;
    width: 33vh;
    height: 100vh;
}

.dropdown {
    border-bottom: solid #61319B;
    font-size: 200%;
    font-family: "Noto Sans", sans-serif;
    font-weight: bolder;
    position: relative;
    width: 100%;
}

.dropdown:hover {
    background-color: rgb(200, 177, 228);
}

.dropdown p {
    margin-left: 25%;

}

.dropdown i {
    justify-content: flex-start;
    position: absolute;
    margin-top: 2%;
}

.icon-start {
    left: 8%;
}

.dropdown .fa-chevron-down {
    left: 87%;
    bottom: 25%;
    color: #61319B;
}

/* Codigo da Opcao de Selecionar Portfolio */
#portpickerdiv {
    display: block;
    margin-top: 8%;
    justify-content: center;
    align-items: center;
    text-align: center;

}

#portpicker {
    background-color: rgb(200, 177, 228);
    width: 40%;
    height: 3.0rem;
    font-size: 50%;
    border-radius: 4%;
    border: 1px;
}

/* Codigo da Opcao de Mudar Texto */

#textareapickerdiv {
    text-align: center;
    display: block;
    margin-top: 8%;
    margin-bottom: 3%;
}

#textareapicker {
    background-color: rgb(200, 177, 228);
    width: 80%;
    height: 4rem;
    padding: 0.5rem;
    font-size: 1.1rem;
    border-radius: 4%;
    border: 1px;
    resize: vertical;
    margin-left: 4%;
}

#textsizepickerdiv{
    text-align: center;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
}

.textsizepicker{
    margin-left: auto;
    margin-right: auto;
    height: 2rem;
    background-color: rgb(200, 177, 228);
    font-size: 160%;
    border-radius: 4%;
    border: 1px;
}

#textfontpickerdiv{
    text-align: center;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
}

#fontpicker{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(200, 177, 228);
    font-size: 130%;
    border-radius: 4%;
    border: 1px;
}

#textdecorationpickerdiv{
    text-align: center;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
}

#decorationPicker{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(200, 177, 228);
    font-size: 120%;
    border-radius: 4%;
    border: 1px;
}

#textweightpickerdiv{
    text-align: center;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
}

#weightPicker{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(200, 177, 228);
    font-size: 130%;
    border-radius: 4%;
    border: 1px;
}
/* Codigo da Opcao Color Picker */


#colorpickerdiv {
    align-content: center;
    display: block;
    margin-top: 8%;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
}

#colorpicker {
    border: 1;
    width: 10rem;
    height: 10rem;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
}

input[type="color"]:first-child {
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    border-radius: 50%;
    background: none;
    margin-bottom: 20px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
}

input[type="color"]:nth-child(2) {
    padding: 0;
    margin: 0;
    border: none;
    box-shadow: none;
    border-radius: 50%;
    background: #f0bc12;
    outline: none;
}

input[type="color" i] {
    border-radius: 50%;
    border: none;
    height: 80px;
    width: 80px;
    display: block;
}

/* Codigo da Opcao Posicao Picker */

#decorpickerdiv {
    text-align: center;
    display: block;
    margin-top: 8%;
    margin-bottom: 4%;
}

.picker {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: rgb(200, 177, 228);
    font-size: 160%;
    border-radius: 4%;
    border: 1px;
}


#decorPicker{
    margin: 0 auto;
    height: 2.5vw;
    background-color: rgb(200, 177, 228);
    font-size: 120%;
    border-radius: 4%;
    border: 1px;
}

#helppickerdiv{
    text-align: center;
    display: block;
    margin-top: 1%;
    margin-bottom: 1%;
}

.helppicker{
    height: 4rem;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: rgb(200, 177, 228);
    font-size: 16px;
    border-radius: 8%;
    border: 1px;
    width: 50%;
}


.submitbuttondiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4%;
}

/* Codigo do botao de aplicar */
.submitbutton {
    height: 4rem;
    margin-top: 4%;
    margin-bottom: 4%;
    background-color: rgb(200, 177, 228);
    font-size: 20px;
    border-radius: 8%;
    border: 1px;
    width: 50%;
}


button {
    font-family: "Noto Sans", sans-serif;
    font-weight: bolder;
}

button:hover {
    font-family: "Noto Sans", sans-serif;
    background-color: #61319B;
    cursor: pointer;
    color: white;
}
/* Código da Edição de Template */

.template-start-area {
    position: absolute;
    width: 100%;
    height: 100%;
}

.iframe-template {
    position: absolute;
    width: 80%;
    height: 100%;
    /* a cor eh so pra acompanhar nao se assuste */
}

.div{
    background-color: red;
}