/*menu*/
.menu1 ul {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
}

.menu1 ul li {
    margin: 0 50px 0 50px;
    list-style: none;
}

.menu1 ul li a {
    font-size: 1.5rem;
    color: #000;
}

.menu1 ul li a:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 800;
    color: #000;
}

.menu2 ul {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
}

.menu2 ul li {
    margin: 0 40px 0 20px;
    list-style: none;
}

.menu2 ul li a {
    font-family: "Koulen", sans-serif;
    font-size: 1.5rem;
    color: #000;
}

.menu2 ul li a:hover {
    font-weight: 800;
    color: #000;
}
/*Seção 1*/
.thumbnail{
    width: 80%;
    height: 50%;
    margin-left: 10%;
    border-radius: 82px;
}
.container2{
    margin-top: 100px;
    position: relative;
    width: 100%;
    margin-bottom: 40px;

}

.container2 img{
    height: 500px;
    border: black outset 5px;
}
.container2 h1 {
    position: absolute;
    color: white;
    width: 70%;
    height: 50%;
    top: 20%;
    font-family: Kaushan Script;
    margin-left: 15%;
    font-size: 200px;
    text-align: center;
}
.container2 p{
    position: absolute;
    width: 70%;
    height: 50%;
    top: 50%;
    margin-left: 15%;
    color: white;
    font-family: Koulen;
    font-size: 30px;
    text-align: center;
}
/*Secao2*/

.imagem1{
    margin-top: 100px;
    width: 417px;
    height: 200px;
    border-radius: 45px;
    margin-left: 50px;
}

.imagem2{
    width: 417px;
    height: 200px;
    border-radius: 45px;
    margin-left: 50px;
}
.imagem3{
    width: 417px;
    height: 200px;
    border-radius: 45px;
    margin-left: 50px;
    margin-bottom: 100px;
}
.imagem4{
    width: 545px;
    height: 300px;
    border-radius: 45px;
    margin-left: 20%;
}
.imagem5{
    width: 545px;
    height: 300px;
    border-radius: 45px;
    margin-left: 40%;
    opacity: 0px;
}
.secao2{
    display: flex;
    flex-wrap: wrap;
    max-width: 1651px;
    margin: 0 auto;
    margin-left: 200px;
    padding-top: 1%;
    position: absolute;
    padding-left: 2%;
}

body{
    background-image: url("../img/background.png");
    background-size: 10%;
    background-repeat: round;
         
}

.icone_ordenar{
    margin-left: 90%;
}
.layout_ordenar{
    display: none;
}
.layout_img1{
    width: 417px;
    height: 200px;
    border-radius: 45px;
    margin-left: 40%;
    margin-bottom: 20px;
}
.layout_img2{
    width: 417px;
    height: 200px;
    border-radius: 45px;
    margin-left: 40%;
    margin-bottom: 20px;

}
.layout_img3{
    width: 417px;
    height: 200px;
    border-radius: 45px;
    margin-left: 40%;
    margin-bottom: 20px;
}
.layout_img4{
    width: 417px;
    height: 200px;
    border-radius: 45px;
    margin-left: 40%;
    margin-bottom: 20px;

}
.layout_img5{
    width: 417px;
    height: 200px;
    border-radius: 45px;
    margin-left: 40%;
    opacity: 0px;
    margin-bottom: 20px;

}
.btnordenar{
    position: absolute;
    padding: 10px;
    border-radius: 45px;
    background-color: white;
    color: purple;
    font-weight: 50%;
    margin-top: 5px;
}