a {
    text-decoration: none;
}

/*menu*/
.menu1 ul {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
}

.menu1 ul li {
    margin: 0 50px 0 50px;
    list-style: none;
}

.menu1 ul li a {
    font-size: 1.5rem;
    color: #000;
}

.menu1 ul li a:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 800;
    color: #000;
}

.menu2 ul {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
}

.menu2 ul li {
    margin: 0 40px 0 20px;
    list-style: none;
}

.menu2 ul li a {
    font-family: "Koulen", sans-serif;
    font-size: 1.5rem;
    color: #000;
}

.menu2 ul li a:hover {
    font-weight: 800;
    color: #000;
}

/*Seção 1*/
.thumbnail {
    width: 80%;
    height: 50%;
    margin-left: 10%;
    border-radius: 82px;

    box-shadow: 15px 15px 30px var(--dark-purple);
}

.container2 {
    margin-top: 100px;
    position: relative;
    width: 100%;
    margin-bottom: 40px;

}

.container2 img {
    height: 500px;
    border: black outset 5px;
}

.container2 h1 {
    position: absolute;
    color: white;
    width: 70%;
    height: 50%;
    top: 20%;
    font-family: Kaushan Script;
    margin-left: 15%;
    font-size: 200px;
    text-align: center;
}

.container2 p {
    position: absolute;
    width: 70%;
    height: 50%;
    top: 50%;
    margin-left: 15%;
    color: white;
    font-family: Koulen;
    font-size: 30px;
    text-align: center;
}

/*Secao2*/

.imagem1 {
    margin-top: 100px;
    width: 417px;
    height: 200px;
    border-radius: 45px;
    margin-left: 50px;
}

.imagem2 {
    width: 417px;
    height: 200px;
    border-radius: 45px;
    margin-left: 50px;
}

.imagem3 {
    width: 417px;
    height: 200px;
    border-radius: 45px;
    margin-left: 50px;
    margin-bottom: 100px;
}

.imagem4 {
    width: 545px;
    height: 300px;
    border-radius: 45px;
    margin-left: 20%;
}

.imagem5 {
    width: 545px;
    height: 300px;
    border-radius: 45px;
    margin-left: 40%;
    opacity: 0px;
}

.secao2 {
    display: flex;
    flex-wrap: wrap;
    max-width: 1651px;
    margin: 0 auto;
    margin-left: 200px;
    padding-top: 1%;
    position: absolute;
    padding-left: 2%;
}

body {
    background-image: url("../img/background.png");
    background-size: 10%;
    background-repeat: round;

}

.icone_ordenar {
    float: right;

    margin-right: 10vw;
}

.btnordenar {
    background-color: white;
    color: purple;

    padding: 2vh 1.5vw;
    
    margin-top: 5px;

    border-radius: 45px;
    border-width: 5px;
    border-color: var(--dark-purple);
    
    font-weight: 700;
    font-size: 1.25vw;

    box-shadow: 7px 7px 10px var(--dark-purple);
}

.btnordenar:hover {
    background-color: purple;
    color: white;
    border-color: #000;
}

/* Cards início */

.portfolio_showcase {
    margin-top: 17vh;
}

.portfolio_showcase .row .card {
    max-width: 85%;

    margin-left: 8vw;
    margin-bottom: 2vh;
    margin-top: 2vh;

    background-color: var(--light-purple);

    border-radius: 25px;
    border-width: 7px;
    border-color: var(--dark-purple);
    border-style: groove;

    box-shadow: 10px 10px 20px var(--dark-purple);
}

.card div div a img {
    width: 100%;
}

.user_name {
    text-align: center;
    font-size: 2vw;
    font-weight: 500;
    font-family: "Concert One";

    margin-bottom: 2vh;
}

.port_likes,
.port_dislikes {
    text-align: center;
    margin: auto;

    font-size: 2.75vw;
    font-family: "Concert One";
}

.port_likes button,
.port_dislikes button {
    background: radial-gradient(var(--dark-purple),purple, var(--dark-purple));
    padding: 0.75vh 0.75vw;

    border-radius: 50px;
    border: none
}

.port_likes button i,
.port_dislikes button i {
    background-color: white;
    padding: 2.5vh 1.75vw;

    border-radius: 50px;
    border-width: 3px;
    border-color: var(--dark-purple);

    box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.767);
}

.port_likes button:hover,
.port_dislikes button:hover {
    background: radial-gradient(white,rgb(247, 103, 227), rgb(238, 124, 158), rgb(254, 26, 117));
}

.port_likes button i:hover,
.port_dislikes button i:hover {
    background: linear-gradient(to bottom, rgb(79, 13, 185), rgb(117, 43, 235), rgb(116, 26, 212), rgb(140, 47, 239));

    box-shadow: 0px 0px 5px rgba(130, 38, 176, 0.89);
}

.port_likes {
    margin-bottom: 5vh;
}

.port_likes label button {
    color: var(--dark-purple);
}

.port_dislikes label button {
    color: var(--dark-purple);
}

.likes_checkbox, .dislikes_checkbox, #ordenar_check {
    display: none;
}

/* Cards fim */