main.container {
    width: 90%;
    margin: 0 auto;
}

body {
    width: 100%;
    height: 100%;

    background-image: url(../img/background.png);
    background-size: 80vw;
    background-repeat: repeat;
    background-position: 95px;
}

#menuItems li button {
    color: var(--clr-da-purple);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

@media only screen and (max-width: 800px) {
    #menuItems li button {
        color: var(--clr-li-purple);
    }
}

/* Main início */
main {
    height: 100vh;

    margin: 25px 0;
    margin-bottom: 1vh;
}

section {
    background-color: var(--light-purple);

    border: 2px solid var(--dark-purple);
    border-radius: 20px;
}

#forum_title {
    font-family: "Kaushan Script";
    font-size: 50px;
    font-weight: 400;

    color: var(--dark-purple);

    display: inline;
}

.create_post {
    background-color: rgb(183, 183, 183);
    border-radius: 55%;
    padding: 0.35%;

    font-size: 5.5vh;

    float: right;
    margin-top: 1.75vh;
    margin-right: 1vw;

    color: #000;
}

.create_post:hover {
    background-color: purple;
    color: white;
}

.check_icon {
    font-size: 4vw;

    padding: 8px;

    color: var(--green-icon);
}

.clock_icon {
    font-size: 4vw;

    padding: 8px;

    color: var(--orange-icon);
}

.post {
    display: flex;
    flex-direction: row;

    border-bottom: 1px solid black;
}

.post:last-child {
    border-bottom: none;
}

.tag_title {
    width: 6vw;

    margin-left: 2vw;
    margin-right: 5vw;

    font-family: "Koulen", sans-serif;
    font-weight: 500;
    font-size: 2.75vw;

    color: var(--dark-purple);
}

.post_header {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 1vw;
    padding: 3vw;

    border-right: 1px solid black;
}

.post_content {
    display: flex;
    align-items: center;

    margin-right: 100px;
    padding: 3vw;
}

.post_title {
    color: var(--vibrant-purple);
    font-size: 3.5vh;
    font-weight: 575;
}

.post_title:hover {
    color: rgb(217, 34, 233);
    font-weight: 600;
}

.post_info {
    display: flex;
    flex-direction: column;

    margin: 3vw;
    padding: 3vw;
}


.reply_count,
.view_count {
    font-family: "Koulen", sans-serif;
    font-weight: 400;
    font-size: 2.5vw;
}

.reply_icon {
    font-size: 3vw;
    color: var(--light-blue);
}

.reply_count {
    color: var(--light-blue);
}

.view_icon {
    font-size: 3vw;
    color: var(--dark-purple);
}

.view_count {
    color: var(--dark-purple);
}

.replies,
.viewers {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
}

/* Main fim */

