


#menuItems li a{
    text-decoration: none;
}

body {
    height: 100vh;
    
    background-image: url(../img/background.png);
    background-size: 80vw;
    background-repeat: repeat;
    background-position: 95px;
}

#menuItems li button {
    color: var(--clr-da-purple);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

@media only screen and (max-width: 800px) {
    #menuItems li button {
        color: var(--clr-li-purple);
    }
}

/* Main inicio */

main{
    width: 90vw;
    margin: 6vh auto 0;
    
}

.post_title {
    max-width: 100%;

    color: rgb(47,24,75);

    font-family: "Koulen", sans-serif;

    background-color: rgba(255, 255, 255, 0.492);
}

.question_tag, .question_title{
    display: inline;
}

.question_tag {
    width: 20%;

    margin-right: 1vw;

    font-size: 4vw;
}

.question_title {
    max-width: 80%;
    font-size: 3vw;
}

.post_title i {
    float: right;

    font-size: 2.25vw;

    text-decoration: none;
    color: #000;

    background-color: rgb(183, 183, 183);
    
    padding-top: 1.25vh;
    padding-right: 1vw;
    padding-left: 1vw;
    padding-bottom: 1.25vh;

    margin-right: 2vw;

    border-radius: 100%;
}

.post_title i:hover {
    color: white;
    background-color: purple;
}


.post, .answer {
    background-color: rgb(244,239,249);

    border:rgb(56,34,82) solid;

    overflow: hidden;
}

.post {
    margin-top: 1vh;

    border-top: 6%;
    
    border-left: 3%;
    
    border-right: 3%;

    border-bottom: 6%;

    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.answer {

    border-top: 2%;
    border-top-color: rgba(56,34,82,0.2);
    
    border-left: 3%;
    
    border-right: 3%;
    
    border-bottom: 4%;
}

div.answer:last-of-type {
    margin-bottom: 15px;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.post div, .answer div{
    display: inline-block;
}

.post_data, .answer_data {
    float: left;

    width: 30%;

}

.post_owner, .answer_owner {
    display: block;

    margin: 5% auto;
    border-radius: 100%;

    max-width: 55%;
    max-height: 40vh;
}

.post_replies, .post_views {
    display: inline;

    width: 100%;

    margin-top: 1%;

    text-align: center;

    font-size: 2.5vw;
    font-weight: 700;
    font-family: "Koulen", sans-serif;
}

.post_replies span, .post_views span{
    margin-left: 1.5vw;
}

.post_replies{
    color: rgb(0,178,255);
}

.post_views{
    color: rgb(43,22,70);
}



/* Edit classes início */

.edit_button {
    margin-left: 12vw;
    margin-bottom: 1vh;

    padding: 0;
    background: none;
    border: 0;

    opacity: 40%;
}

.edit_button:hover {
    opacity: 100%;
}

.edit_button i {
    font-size: 4vw;

    color:rgb(58, 29, 93);
}


.edit_post_forms {
    transition: display 1.0s;
}

.edit_post_forms {
    width: 100%;
}

.edit_title label, .edit_post label, .edit_tag_selection label {
    color: rgb(86,47,138);

    font-weight: 600;
}

.edit_title label, .edit_post label {
    display: block;

    margin-left: 1vw;
}

.edit_title textarea, .edit_post textarea {
    margin-bottom: 2vh;

    border-radius: 5px;

    width: 100%;
}

.edit_tag_selection, .edit_post_status {
    display: inline;

    margin-left: 1vw;
}

.edit_answer_forms {
    transition: display 1.0s;
    width: 100%;
}

.edit_answer_forms .edit_answer label {
    display: block;

    margin-left: 1vw;
    margin-bottom: 0.25vh;

    color: rgb(86,47,138);

    font-weight: 600;
}

.edit_answer_forms .edit_answer textarea {
    display: block;
    width: 100%;

    margin-bottom: 2.5vh;

    border-radius: 5px;
}


.submit {
    margin-left: 10vw;
}

.submit button {
    color: purple;
    background-color: white;

    border: 5px groove purple;
    border-radius: 6px;

    font-weight: 800;
}

.submit button:hover {
    color: white;
    background-color: purple;
    border-color: black;
}


.delete_post, .delete_answer {
    margin-left: 2vw;

    border-width: 5px;
    border-style: groove;
    border-radius: 10px;

    font-size: 2vw;

    color: purple;
    background-color: white;
    border-color: purple;
}

.delete_post {
    margin-top: 4.5vh;
}

.delete_answer {
    margin-top: 2.5vh;
}

.delete_post:hover, .delete_answer:hover {
    color: white;
    background-color: purple;
    border-color: black;
}

/* Edit classes fim */




.post_text, .answer_text {
    width: 45%;
    margin-left: 2,25vw;
    margin-right: 2,25vw;
    margin-top: 4vh;
    margin-bottom: 2vh;

}

.pergunta, .resposta {
    color: rgb(86,47,138);

    font-weight: 600;
}

.post_rating, .answer_rating {
    width: 20%;

    float: right;
}

.post_rating div span, .answer_rating div span {
    font-family: "Koulen", sans-serif;

    font-size: 2.25vw;
    font-weight: 500;

    margin-left: 1.5vw;
}

.post_likes, .post_dislikes, .answer_likes, .answer_dislikes {
    overflow: hidden;

    width: 100%;
    
    text-align: center;
    
    line-height: 100%;

}

.post_likes button, .post_dislikes button, .answer_likes button, .answer_dislikes button {
    padding: 0 0;

    border: 0;

    background:none;

    font-size: 4.25vw;
    font-weight: 900;

    color: inherit;
}

.post_likes, .answer_likes {
    margin-top: 30%;
    
    color: rgb(77,202,112);
}

.post_dislikes, .answer_dislikes {
    margin-top: 8%;

    color: rgb(242,77,29);
}


/* Create answer início */

.create_answer {
    margin: 2vh 0 4vh;

    text-align: center;
}


.create_answer input {
    display: none;
}

div.create_answer label i {
    padding: 1vh 1vw;

    margin-bottom: 2vh;

    border-radius: 50%;

    color: #000;

    background-color: rgb(183, 183, 183);
    border: 2px solid rgb(255, 255, 255);

    font-size: 3vw;
}

div.create_answer label i:hover {
    color: rgb(189, 189, 189);

    background-color: rgb(82, 82, 82);

    border: 2px solid black;
}

#display_form:not(checked) ~ label i.button_create_answer_P {
    display: block;
}

#display_form:not(checked) ~ label i.button_create_answer_M {
    display: none;
}

#display_form:not(checked) ~ form.new_answer {
    display: none;
}

#display_form:checked ~ label i.button_create_answer_P {
    display: none;
}

#display_form:checked ~ label i.button_create_answer_M {
    display: block;
}

#display_form:checked ~ form.new_answer {
    display: block;
}

form.new_answer {
    padding: 1vh 5vw 2vh;

    background-color: rgb(244,239,249);

    border: 3px solid rgb(83, 6, 113);
    border-radius: 35px;
    
    transition: display 1.0s;
}

form.new_answer label {
    display: block;

    margin-bottom: 0.5vh;

    font-family: "Kaushan Script";
    font-size: 4vw;
}

form.new_answer textarea {
    width: 80vw;

    height: 25vh;

    font-size: 2.25vw;
}

#submit_new_answer {
    display: block;

    margin: 0 auto;

    color: purple;
    background-color: white;
    border-color: purple;

    border: 6px solid;
    border-radius: 4px;

    font-family: "Koulen", sans-serif;
}

#submit_new_answer:hover {
    color: white;
    background-color: purple;
    border-color: black;
}





footer{
    height: 0.5vh;
}