@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Kaushan+Script&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: none;
    text-decoration: none;
}

body {
    height: 600vh;
}

/*menu*/
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.logo{
    display: flex;
    align-items: center;
    max-width: 5rem;
}
.logo p{
    margin-left: 0;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.LogoName{
    font-family: "Koulen", sans-serif;  
    /* margin: 18px 75px 0 0; */
    font-weight: bold;
    text-transform: uppercase;
    color: #3A1D5D;
    font-size: 1.2rem;
    height: 100%;
}
.container{
    max-width: 100%;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    background:white;
}
.menu-icon{
    width: 50px;
    margin-left: 20px;
    display: none;
}
.header-perfil img{
    max-width: 9.375rem;    
    border-radius: 10rem;    
    margin-top: 1rem;
    
    padding-left: auto;
    padding-right: auto;
}
.perfil h4{
    margin-left: auto;
    margin-right: auto;
    
}

figcaption {
    text-align: center;
    font-weight: 900;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

@media only screen and (max-width: 800px){
    /*------menu-hamburguer--------*/
    nav ul{
        margin-top: 20px;
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;        
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;        
    }
    nav ul li a{
        color: white;
    }
    .menu-icon{        
        display: block;
        cursor: pointer;
    }
    /*------fim-menu-hamburguer--------*/    
    .logo p{
        display: none;
    }    
    .perfil{
        margin-top: 20rem;       
        display: block;
        width: 98%;
        max-width: 100%;
        margin-left: 1%;       
        border-radius: 50px; 
        padding-left: auto;
        padding-right: auto;       
        background: #999;      
    }    
    .perfil h3{
        margin-left: auto;
        margin-right: auto;
        font-size: 40px ;
    }    
    .div-social{
        display: flex;
        justify-content: space-between;
        max-width: 100px;        
    }
    .linksSocial {
        width: 50px;        
    }
    .linksSocial P{
        display: none;
    }

}


@media only screen and (max-width: 450px){
    .navbar{
        width: 100%;
        max-width: 100%;      
         
    }
    *{
        overflow-x: hidden;
    }
    .perfil{
        margin-top: 13rem;       
        display: block;
        width: 98%;        
        max-width: 100%;              
        border-radius: 50px; 
        padding-left: auto;
        padding-right: auto;       
        background: #999; 
        z-index: 1;   
    }
    
    
    
}

/* Primeira section */
.hero {
    margin: 150px 0 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F4F4F9;
}

.text-area h1 {
    font-size: 250px;
    color: #2f184b;
    font-family: 'Kaushan Script', sans-serif;
}

.span1{
    margin: -120px 0 0 80px;
    font-size: 250px;
    color: #2f184b;
    font-family: 'Kaushan Script', sans-serif;
    display: block;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #532b88;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 70px 0 0 100px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #6e3bcc;
}

.image-area img {
    display: block;
    max-width: 100%;
    height: auto;
}

/*primiera section*/

.container2 {
    margin: 150px 0 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.text-main{
    font-family: "Kaushan Script", sans-serif;
    font-size: 7rem;
    color: #2f184b;
}

.span1{
    margin: -120px 0 0 80px;
    font-size: 250px;
    color: #2f184b;
    font-family: 'Kaushan Script', sans-serif;
    display: block;
}

.image-main img {
    width: 100%;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #532b88;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 70px 0 0 100px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #6e3bcc;
}

.image-main img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Segunda section */

.wavy-section {
    position: relative;
    text-align: center;
}

.wave-container {
    margin-top: 15%;
    position: relative;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wave-container::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    z-index: 2;
}

.wave-container img {
    border-radius: 80px;
    width: 100%;
    display: block;
}

.icons-container {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    z-index: 2;
}

.icon-circle {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle img {
    width: 120px;
    height: 120px;
}

.text-container {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    z-index: 2;
}

.text-container p {
    font-family: "Koulen", sans-serif;
    color: #532b88;
    font-size: 1.5rem;
    margin: 0 20px;
    display: block;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    line-height: 1.6;
    height: auto;
    position: relative;
    overflow: hidden;
}

.text-container p::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    z-index: 1;
}


/*Terceira section*/

.terceira-section {
    margin: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text-container2 {
    display: block;
}

.terceira-section p {
    font-family: "Kaushan Script", sans-serif;
    font-size: 250px;
    color: #2f184b;
    margin: 0;
    padding-bottom: 0.2em;
}

.span2 {
    margin: -180px 0 0 80px;
    font-family: "Kaushan Script", sans-serif;
    font-size: 250px;
    color: #2f184b;
    display: block;
}

.imagem-central {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin-left: 40%;
}


/*Carrosel*/

.slideshow-container {
    width: 90%;
    position: relative;
    margin: 0 auto 0 auto;
}

.slideshow {
    display: none;
}


.slideshow img {
    width: 100%;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.legenda {
    width: auto;
    color: #fdfdfd;
    font-size: 0.9em;
    padding: 5px;
    position: absolute;
    bottom: 18%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    left: 10%;
    transform: translateX(-50%);

}

.numeracao {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;

}

.paginacao {
    width: 100%;
    margin: 10px 0;
    text-align: center;

}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 4px;
    border-radius: 50px;
    background-color: #2f184b;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.ativo,
.dot:hover {
    background-color: #242424;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@media (min-width:60em) {
    .legenda {
        font-size: 2em;
        padding: 8px;
    }

    .paginacao {
        margin: 20px 0;
    }

    .dot {
        width: 18px;
        height: 18px;
    }
}

/*FAQ*/

.faq-section {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    width: 80%;
    margin: 15% auto 0 auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.faq-content{
    margin-left: 20%;
}

.faq-header h1 {
    color: #2f184b;
    font-size: 10em;
}

.faq-content h2 {
    color: #333;
    font-size: 1.5em;
    margin-top: 20px;
}

.faq-content p {
    margin-top: 40px;
    max-width: 700px;
    white-space: normal;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    color: #666;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
}