body {
    height: 600vh;
}

/*menu*/
.menu1 ul {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
}

.menu1 ul li {
    margin: 0 50px 0 50px;
    list-style: none;
}

.menu1 ul li a {
    font-size: 1.5rem;
    color: #000;
}

.menu1 ul li a:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 800;
    color: #000;
}

.menu2 ul {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
}

.menu2 ul li {
    margin: 0 40px 0 20px;
    list-style: none;
}

.menu2 ul li a {
    font-family: "Koulen", sans-serif;
    font-size: 1.5rem;
    color: #000;
}

.menu2 ul li a:hover {
    font-weight: 800;
    color: #000;
}

/*primiera section*/
.hero {
    margin: 150px 0 0 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F4F4F9;
}

.text-area h1 {
    font-size: 250px;
    color: #2f184b;
    font-family: 'Kaushan Script', sans-serif;
}

.span1{
    margin: -120px 0 0 80px;
    font-size: 250px;
    color: #2f184b;
    font-family: 'Kaushan Script', sans-serif;
    display: block;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #532b88;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 70px 0 0 100px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #6e3bcc;
}

.image-area img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Segunda section */

.wavy-section {
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wave-container {
    margin: 20% 0 0 5%;
    position: relative;
    width: 88%;
    z-index: 1;
}

.wave-container::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 400px;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    z-index: 2;
}

.wave-container img {
    border-radius: 80px;
    width: 97%;
    display: block;
}

.icons-container {
    position: absolute;
    bottom: 80px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
    z-index: 2;
}

.icon-circle {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    border: 5px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-circle img {
    width: 120px;
    height: 120px;
}

.text-container {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-around;
    z-index: 2;
}

.text-container p {
    font-family: "Koulen", sans-serif;
    color: #532b88;
    font-size: 1.5rem;
    margin: 0 20px;
    display: block;
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    line-height: 1.6;
    height: auto;
    position: relative;
    overflow: hidden;
}

.text-container p::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    z-index: 1;
}

/*Terceira section*/

.terceira-section {
    margin: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.text-container2 {
    display: block;
}

.terceira-section p {
    font-family: "Kaushan Script", sans-serif;
    font-size: 250px;
    color: #2f184b;
    margin: 0;
    padding-bottom: 0.2em;
}

.span2 {
    margin: -180px 0 0 80px;
    font-family: "Kaushan Script", sans-serif;
    font-size: 250px;
    color: #2f184b;
    display: block;
}

.imagem-central {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    margin-left: 40%;
}

/*Carrosel*/

.slideshow-container {
    width: 90%;
    position: relative;
    margin: 15% auto 0 auto;
}

.slideshow {
    display: none;
}


.slideshow img {
    width: 100%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.legenda {
    width: auto;
    color: #fdfdfd;
    font-size: 0.9em;
    padding: 5px;
    position: absolute;
    bottom: 18%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    left: 10%;
    transform: translateX(-50%);

}

.numeracao {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;

}

.paginacao {
    width: 100%;
    margin: 10px 0;
    text-align: center;

}

.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 4px;
    border-radius: 50px;
    background-color: #2f184b;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.ativo, .dot:hover {
    background-color: #242424;
}


.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    }

    to {
        opacity: 1;
    }
}

@media (min-width:60em) {
    .legenda {
        font-size: 2em;
        padding: 8px;
    }

    .paginacao {
        margin: 20px 0;
    }

    .dot {
        width: 18px;
        height: 18px;
    }
}

/*FAQ*/

.faq-section {
    font-family: "Koulen", sans-serif;
    background-color: #ffffff;
    width: 90%;
    margin: 10%;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 600px;
}

.faq-header {
    flex: 1;
    margin-right: 100px;
    margin-left: 200px;
}

.faq-header h1 {
    color: #2f184b;
    font-size: 300px;
    margin: 0;
}

.faq-content {
    flex: 3;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
}

.faq-content h2 {
    color: #2f184b;
    font-size: 2em;
    margin: 20px 0 10px;
}

.faq-content p {
    color: #a884d5;
    max-width: 700px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
    font-size: 1.2rem;
}