main{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 50px;
}

.input-group:nth-child(2){
    margin-top: 10px;
}

/*REGISTER*/
.register{
    border: none;
    font-family: sans-serif;
    text-align: left;
    width: 150px;
    display: flex;
    flex-direction: column;
}

.registre1{
    font-family: "Koulen";
    font-size: 80px;
}

.inputs{
    margin: 10px 0;
    border-radius: 15px;
    border: 2px solid gray;
    width: 380px;
    height: 60px;
}

.registerbottom{
    margin: 40px 0;
    border-radius: 10px;
    background-color: #8F00FF;
    color:beige;
    font-family: "Koulen";
    font-size: 30px;
    border: none;
    width: 385px;
    height: 65px;
}

.registerbottom:hover{
    background-color:rgb(183, 79, 252);
    border:rgb(183, 79, 252) ;
}

/*IMAGEM */ 
.img4{
    width: 370px;
    height: 580px;
    top: 31px;
    left: 31px;
    border-radius: 40px;    
}

