:root{
    --clr-li-purple: rgb(244, 239, 250);
    --clr-da-purple: rgb(47, 24, 75);
    --clr-blue: rgb(0, 178, 255);
    --clr-green-check: rgb(0, 215, 9);
    --clr-p-purple: rgb(129, 87, 184);
    --clr-follow-purple: rgb(83, 43, 136);
    --clr-rli-purple: rgb(200, 177, 228);
}