/* Header */
/* Código da Header */

body{
   margin: 0 0 0 0;
   text-decoration: none !important;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #F4EFFA;
}

.logo {
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    margin: 20px 0 0 0;
    width: 80px;
}

.logo a{
    text-decoration: none;
    font-family: "Koulen", sans-serif;
}

.logo p {
    font-family: "Koulen", sans-serif;  
    margin: 18px 75px 0 0;
    font-weight: bold;
    text-transform: uppercase;
    color: #3A1D5D;
    font-size: 1.6rem;
    height: 100%;
    }

.container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.Person img {
    margin: 20px 30px 0 0;
    width: 60px;
}

.menu1 ul {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
    
}

.menu1 ul li {
    margin: 0 50px 0 50px;
    list-style: none;
    text-decoration: none;
}

.menu1 ul li a {
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;
}

.menu1 ul li a:hover {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 800;
    color: #000;
}

.menu2 ul {
    margin: 20px 0 0 0;
    display: flex;
    flex-direction: row;
}

.menu2 ul li {
    margin: 0 40px 0 20px;
    list-style: none;
}

.menu2 ul li a {
    font-family: "Koulen", sans-serif;
    font-size: 1.5rem;
    color: #000;
    text-decoration: none;
}

.menu2 ul li a:hover {
    font-weight: 800;
    color: #000;
}

/* Page */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: none;
    text-decoration: none;
}

.Maincontent {
    position: relative;
    top:91px;
}

#Banner {
    z-index: 0;
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    overflow:visible;
    object-fit: cover;
}

/* @media only screen and (max-width: 1270px){
    #Banner {
        position: absolute;
        display: block;
        width: 300%;
        height: 50%;
        margin-top: 200px;
    }
} */



/* Miniprofile 15%*/
#miniprofile {
    background-color: aliceblue;
    display: block;
    position: absolute;
    top: 25%;
    left: 7%;
    width: 15%;
    border-radius: 50px;
    border: 2px rgb(172, 147, 219);
    border-style: solid;
    
    
}

.ProfilePicture {
    max-width: 100%;
    height: auto !important;
    padding: 12%;
    border-radius: 500000px;
    
}

figcaption {
    text-align: center;
    font-weight: 900;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.bio {
    font-size: x-small;
    text-align: center;

    padding-left: 5%;
    padding-right: 5%;
}

/* Social media button */
.SocButton {
    background-color: rgb(222, 247, 255);
    border: 2px rgb(210, 210, 210);
    border-style: dashed;
    border-radius: 15px;
    display: block;
    text-align: center;
    margin: 0 10% 0;
    padding-top: 5%;
}
.SocButton>img {
    display: inline-block;
    width: 35px;
    font-style: none;
    text-decoration: none;
}
.SocButton>p {
    color: black;
    display: inline-block;
    font-family: monospace;
    font-weight: 900;
}

/* Portfolios */

.portfolios {
    /* position: absolute; */
    /* left: 30%; */
    margin-top: 300px;

}

.portfolios img {
    width: 100%;
    height: 320px;
}