* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-style: none;
    text-decoration: none;
}

.Maincontent {
    position: relative;
    top:91px;
}

#Banner {
    z-index: -1;
    display: block;
    width: 100%;
    position: absolute;
    margin-top: -85px;
    overflow:visible;
    border: 0 0 500px;
    border-color: white;
    border-width: 500px;
}


/* Miniprofile */
#miniprofile {
    background-color: aliceblue;
    display: block;
    position: fixed;
    top: 6%;
    left: 7%;
    width: 15%;
    border-radius: 50px;
    border-style: solid;
    border: 20px black;
    
}

.ProfilePicture {
    width: 100%;
    padding: 12%;
    border-radius: 50%;
}

figcaption {
    text-align: center;
    font-weight: 900;
    font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    
}