<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template Portfólio 2D Tradicional</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/863f442cd3.js" crossorigin="anonymous"></script>
</head>

<body>

    <section class="section_destaque">
        <img class="art_destaque img-edit edit" id="foto1" src="https://i.pinimg.com/564x/cd/70/9c/cd709c456916d6aa90e239fa5f38135f.jpg"
            alt="Arte em Destaque 1">
        <img class="foto_artista img-edit edit border-change" id="foto2" src="https://i.pinimg.com/564x/ea/db/b7/eadbb73bdffb24b286ecffac88eabc7c.jpg"
            alt="Foto do Artista 1">
        <img class="art_destaque img-edit edit" id="foto3" src="https://i.pinimg.com/564x/12/f2/51/12f25114fff6a3eec6abbf338d99736c.jpg"
            alt="Arte em Destaque 2">
    </section>

    <section class="section_descricao">
        <span class="artista_descricao">
            <img class="foto_artista img-edit edit border-change" id="foto4" src="https://i.pinimg.com/564x/f6/c3/f9/f6c3f9ece1a19283cddb4a55a9641d39.jpg"
                alt="Foto do Artista 2">
            <h2 class="edit text-content text-weight-change border-change" id="texto1">Nome do Artista</h2>
        </span>
        <span class="texto_descricao edit border-change" id="fundo1">
            <p class="edit text-content" id="texto2">Exemplo de descrição do artista a respeito dele mesmo, focando principalmente em suas habilidades
                técnicas.</p>
        </span>
        <span>
            <img class="art_exibicao img-edit edit" id="foto5" src="https://i.pinimg.com/564x/b9/e1/7c/b9e17cc0c9c0b6a51715ab9bd30e8b6c.jpg"
                alt="Arte em Exibição 1">
            <img class="art_exibicao img-edit edit" id="foto6" src="https://i.pinimg.com/564x/c6/07/e0/c607e09cff88301bd4522431d1ad9b95.jpg"
                alt="Arte em Exibição 2">
        </span>
    </section>


    <section class="section_redessociais">
        <span>
            <img class="art_exibicao img-edit edit" id="foto7" src="https://i.pinimg.com/564x/67/43/b9/6743b95429748301666e5a0b8c862aef.jpg"
                alt="Arte em Exibição 3">
        </span>
        <span class="redessociais">
            <ul>
                <li> <i class="fa-brands fa-instagram"></i><p class="edit text-decoration-change text-font-change text-content text-weight-change text-color-change" id="texto3">Rede Social</p></li>
                <li> <i class="fa-brands fa-linkedin"></i><p class="edit text-decoration-change text-font-change text-content text-weight-change text-color-change" id="texto4">Rede Social</p></li>
                <li> <i class="fa-brands fa-twitter"></i><p class="edit text-decoration-change text-font-change text-content text-weight-change text-color-change" id="texto5">Rede Social</p></li>
                <li> <i class="fa-brands fa-facebook"></i><p class="edit text-decoration-change text-font-change text-content text-weight-change text-color-change" id="texto6">Rede Social</p></li>
            </ul>
        </span>
    </section>


    <section class="section_arte1">
        <span>
            <h3>Técnicas/Princípios</h3>
            <ul>
                <li class="edit text-content text-weight-change" id="texto7">Técnica 1</li>
                <li class="edit text-content text-weight-change" id="texto8">Princípio 2</li>
                <li class="edit text-content text-weight-change" id="texto9">Princípio 2</li>
                <li class="edit text-content text-weight-change" id="texto10">Técnica 2</li>
            </ul>
        </span>
        <span>
            <h3 class="edit text-content text-weight-change" id="texto11">Nome da obra</h3>
            <p class="edit text-content" id="texto12">Descrição do que ela representa e inspirações</p>
        </span>
        <span>
            <img class="art edit img-edit" id="foto8" src="https://i.pinimg.com/564x/12/f2/51/12f25114fff6a3eec6abbf338d99736c.jpg"
                alt="Arte da seção">
            <ul>
                <li class="edit text-content text-weight-change" id="texto13">Material 1</li>
                <li class="edit text-content text-weight-change" id="texto14">Material 2</li>
            </ul>
        </span>
    </section>

    <section class="section_arte2">
        <span>
            <img class="art edit img-edit" id="foto9" src="https://i.pinimg.com/564x/cd/70/9c/cd709c456916d6aa90e239fa5f38135f.jpg"
                alt="Arte da seção">
            <ul>
                <li class="edit text-content text-weight-change" id="texto15">Material 1</li>
                <li class="edit text-content text-weight-change" id="texto16">Material 2</li>
            </ul>
        </span>
        <span>
            <h3 class="edit text-content text-weight-change" id="texto17">Nome da obra</h3>
            <p class="edit text-content" id="texto18">Descrição do que ela representa e inspirações</p>
        </span>
        <span>
            <h3>Técnicas/Princípios</h3>
            <ul>
                <li class="edit text-content text-weight-change" id="texto19">Técnica 1</li>
                <li class="edit text-content text-weight-change" id="texto20">Princípio 2</li>
                <li class="edit text-content text-weight-change" id="texto21">Princípio 2</li>
                <li class="edit text-content text-weight-change" id="texto22">Técnica 2</li>
            </ul>
        </span>
    </section>

</body>

</html>